<%- include('partials/header.ejs'); %>

<h1><%= title %></h1>

<% if(isActive) { %>
  <p>El servidor es activo</p>
<% } else { %>
  <p>El servidor esta inactivo</p>
<% } %>

<%= new Date() %>

<ul>
  <% for(let i = 0; i < users.length; i++) { %>
    <li><%= users[i].id %> <%= users[i].name %> <%= users[i].lastname%></li>
  <% } %>
</ul>

<%- include('partials/footer.ejs'); %>
